/* CSS for website */
figure {
  margin: 15px 0;
  width: 100%;
  border:1px solid lightgray;
  padding-top: 10px;
  text-align:center;
}

figcaption {
  background-color: aliceblue;
  border-top: 1px solid lightgray;
  font-style: italic;
}

.book .book-body .page-wrapper .page-inner section.normal img,
figure img {
  max-width: 95%;
  min-height: 150px;
}